@{
    ViewData["Title"] = "Home Page";
   
}

<div >
    @{ var teller = 0;

        foreach (Product product in ViewBag.Products)
        {
            
            if (teller == 0)
            {
                @:<div class="row">
                }

                <div class="col-sm-4 col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="thumbnail">
                            <img src="@product.ImagePath" class="img-fluid" alt="Responsive image">
                            <div class="card-body">
                                <p class="producttitle">"@product.Title"</p>
                                <p class="description">"@product.Description"</p>

                                <div class="clearfix">
                                    <div class="price float-left">
                                        @product.Price
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center float-right">
                                        <div class="btn-group">
                                            <a class="btn btn-sm  btn-danger" href="#"><i class="fas fa-cart-arrow-down"></i></a>
                                            <a class="btn btn-sm  btn-success" asp-controller="ShoppingCart" asp-action="Buy" asp-route-id="@product.Id">Add to cart</a>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                teller++;
                @if (teller == 3)
                {
                    teller = 0;
                @:</div>
            }

            }
    }

</div>


