
@if (ViewBag.cart != null)
{
    foreach (ShoppingCartItem shoppingCartItem in ViewBag.cart)
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-md-offset-3 col-sm-offset-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge  badge-light">@shoppingCartItem.Quantity</span>
                        <strong>@shoppingCartItem.Product.Title</strong>
                        <span class="label label-success ">@shoppingCartItem.Price €</span>
                        <div class="float-right">

                            <a asp-controller="ShoppingCart" asp-action="Sell" asp-route-id="@shoppingCartItem.Product.Id">
                                <div class="btn btn-danger btn-xs">
                                    <i class="fas fa-cart-plus"></i>
                                </div><span class="caret"></span>
                            </a>

                            <a asp-controller="ShoppingCart" asp-action="Buy" asp-route-id="@shoppingCartItem.Product.Id">
                                    <div class="btn btn-success btn-xs">
                                            <i class="fas fa-cart-plus"></i>
                                    </div><span class="caret"></span>
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12 col-md-12 col-md-offset-3 col-sm-offset-3">
            <strong>Total Price:  €</strong>
        </div>
    </div>
}
else
{
    <h1>er zit niets in je mandje</h1>
}


